body {
  font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 275px) {
  body {
    overflow-x: hidden;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h4,
h6, .h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

a {
  color: #37b270;
  text-decoration: none;
}

a:hover {
  color: #248c54;
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

.jumbotron.banner {
  padding: 0;
  height: 800px;
  height: 100vh;
  margin-bottom: 0;
  background: url('../images/banner.jpg') no-repeat top center;
  background-size: cover; 
}

.jumbotron.library {
  background: #b5f1d1;
}

.jumbotron.library .h2 {
  font-weight: bold;
  font-size: 30px;
}

.jumbotron.library p {
  font-size: 20px;
}

.jumbotron.library .btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: #fff;
  background-color: #37b270;
  border-color: #ccc;
}

@media (max-width: 308px) {
  .jumbotron.library .btn  {
    font-size: 14px;
  }
}

.jumbotron.library .btn:hover {
  background-color: #19a259;
}

.jumbotron.plant-type {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #b5f1d1;
}

.header-wrap {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  background: rgba(0,0,0, .25);
}

.logo {
  margin: 11px 0;
}

.navbar-default {
  background-color: transparent;
  border:none;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  float: right;
  padding: 17px 0;
}

@media (max-width: 767px) {
  .navbar-nav {
    float: none;
    padding: 17px 0;
  }
}

.navbar-brand {
  height: auto; 
  padding: 0 0 0 15px;  
}

.navbar-nav > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav > li {
  margin: 0 5px;
}

.navbar-toggle {
  background: #fff;
  padding: 9px 7px 7px;
}

.navbar-toggle .icon-bar {
  width: 15px;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background: #81deac;
}

.navbar-toggle span.mobile-nav {
  display: block;
  float: left;
}

.navbar-toggle span.nav-label {
  display: block;
  float: left;
  margin: -1px 0 0;
  padding-left: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar-toggle:hover span.nav-label, 
.navbar-toggle:focus span.nav-label {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #333;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a{
  font-weight: bold;
  text-shadow: 0 0 5px #231f20;
  font-size: 17px;
  color: #81deac;
  border-radius: 4px;
  padding: 5px 10px;
}

.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #81deac;
  border-color: #4cae4c;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0; 
}

.nav > li > a.btn {
  border: none;
}

.nav > li > a.btn-success {
  color:#fff;
  background: #37b270;
  text-shadow:none;
}

@media (max-width: 767px) {
  .navbar-toggle:hover p.nav-label,
  .navbar-toggle:focus p.nav-label {
    color: #fff;
  }

  .navbar-nav {
    margin: 0;
    padding: 10px 0;
  }

  .navbar-collapse {
    background: #fff;
  }

  .navbar-default .navbar-nav > li > a {
    color: #333;
    text-shadow: none;
  }

  .navbar-default .navbar-nav > li > a:hover {
    background: #248c54;
  }

  .nav > li > a.btn-success {
    color: #333; 
    background: transparent; 
    text-align: left;
    width: 100%;
  }
}

.nav > li > a.btn-success .fa {
  padding-left: 10px;
}

.nav > li > a.btn-success:hover {
  background: #248c54;
}

.banner-wrap .h1 {
  margin-top: 180px;
  margin-bottom: 35px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

@media (max-width: 767px) {
  .banner-wrap .h1 {
    font-size: 45px;
  }
}

.banner-wrap .btn {
  display: block;
  max-width: 224px;
  width: 100%;
  margin: 0 auto;
  background: #81deac;
  color: #fff;
  border: none;
  box-shadow: 0 0 5px #333;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #333;
  padding: 9px 23px;
}

.banner-wrap .btn:hover {
  background: #37b270;
}

.store-wrap h1 {
  margin-top: 0;
}

.store-wrap img {
  margin: 20px auto 10px;
  max-width: 325px;
  width: 100%;
}

.store-wrap .options-form .form-group input {
  display: block;
  max-width: 125px;
  margin: 0 auto;
}

.store-wrap .options-form .form-group label {
  display: block;
  text-align: center;
}

.store-wrap .btn-sm.cart-add {
  color: #333;
}

.store-wrap .btn-sm.cart-add {
  display: block;
  margin: 10px auto 0;
  padding: 0;
  max-width: 96px;
  background: #37b270;
  color: #fff;  
  box-shadow: 0 0 1px #CCC;
}

.store-wrap .btn-sm.cart-add:hover {
  color:#fff;
  background: #248c54;
  transition: 1s;
}

.store-wrap .btn-sm.cart-add i {
  background: #248c54;
  color: #fff;
  display: block;
  float: left;
  padding: 3px 6px 3px 4px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; 
}

.store-wrap .btn-sm.cart-add:hover i {
  background :#37b270;
  color: #fff;
  transition: 1s;
}

@media (max-width: 970px) {
  .store-wrap h2 {
   text-align: center;
  }
}

.store-link {
  width: 100%;
}

.store-link .fa {
  padding-left: 5px;
}

.btn.store-link {
  margin: 74px auto 20px;
  color: #fff;
  background:#37b270; 
}

.btn.store-link:hover {
  background: #19a259;
}

/* Plant Type Library Page */
.library-wrap .col-md-8 p.h2 {
  margin-top: 0;
}

@media (max-width: @screen-sm-min) {
.library-wrap .col-md-8.col-sm-12 p.h2 {
  margin-top: 20px!important;
  }
}
.plant-type img {
  border-radius: 50%;
}

.plant-type figure {
  padding: 0 30px;
}

.plant-type .col-sm-4 img {
  margin: 0 auto;
  max-width: 340px;
  width: 100%;
}

.plant-type .col-sm-4 figcaption {
  padding-bottom: 30px;
}

.plant-type .col-sm-6 figcaption p.h4 {
  margin-top: 0px;
  padding-top: 10px;
}

.plant-type figcaption p {
  color: #000;
  font-size: 15px;
}

.plant-type figcaption p.h4 {
  width: 100%;
  margin-bottom: 0;
  padding: 15px;
  color: #248c54;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.plant-type a:hover figcaption p.h4 {
  color: #37b270;
}

.plant-type figcaption p.library-link {
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
  color: #248c54;
  font-weight: bold;
}

.plant-type a:hover figcaption p.library-link {
  color: #fff;
  background: #37b270;
  border-radius: 4px;
}

.plant-type .carousel-control {
  width: 7%;
}

.plant-type .carousel-control.left,
.plant-type .carousel-control.right {
  background-image: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left, 
  .carousel-control .glyphicon-chevron-right {
    margin-top: -50px;
  }
}
/* Garden Gallery */
.gallery-wrap [class*=' col-'] {
  margin: 0;
  padding: 0;
}

.gallery-wrap a img:hover {
  cursor: pointer;
  cursor: hand;
}

.gallery-wrap p.h1 {
  position: relative;
  top: 258px;
  z-index: 10;
  padding: 10px;
  display: block;
  max-width: 486px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,.5);
}

/* Store Form Section */
.options-form p {
  margin: 0;
  text-align: center;
}

.options-form .form-group.quantity {
  max-width: 125px;
  margin: 0 auto;
}

.options-form .item-name {
  font-weight: bold;
}

/* Checkout form */
.checkout-form .credit-info {
  margin-top: 15px;
}

.checkout-form button.btn-success {
  width: 100%;
  margin-bottom: 10px;
}

/* Order Summary in Checkout Form */
.checkout-form .order-container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form select {
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 1px solid #ccc;
  padding: 6px 0 5px;
}

@media (min-width: 970px){
  .checkout-form .col-md-2 {
    padding: 0;
  }
}

.checkout-form .summary-header {
  margin-top: 10px;
  font-weight: bold;
}

.checkout-form ul {
  margin: 0 18px 10px;
  padding: 10px 14px;
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form li {
  text-align: center;
}

.checkout-form .order-container button {
  display: block;
  max-width: 71px;
  margin: 0 auto 10px;
}

.footer-wrap .row {
  margin-top: 50px;
  margin-bottom: 30px;
}