body {
  font-family: 'Noto Sans', sans-serif;
}
h1, 
h2,
h3, .h3,
h4, .h4,
h5, .h4,
h6, .h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

.font-showcase {
  font-size: 60px;
}
.font-showcase span {
  font-weight: bold;
}

.col-md-2 {
  padding: 0;
}
.color-block {
  margin-top: 35px;
  padding-left: 15px;
}
.color-container {
  height: 75px;
  width: 100%;
}

.color1 {
  background: #248c54;
}

.color2 {
  background: #19a259; 
}

.color3 {
  background: #37b270;  
}

.color4 {
  background: #81deac;  
}

.color5 {
  background: #b5f1d1;  
}

a {
  color: #37b270;
  text-decoration: none;
}

a:hover {
  color: #248c54;
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

.jumbotron.banner {
  padding: 0;
  height: 800px;
  height: 100vh;
  margin-bottom: 0;
  background: url('../images/banner.jpg') no-repeat top center;
  background-size: cover; 
}

.jumbotron.library {
  background: #b5f1d1;
}

.jumbotron.library .h2 {
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
}

.jumbotron.library p{
  font-size: 20px;
}

.jumbotron.library .btn{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: #fff;
  background-color: #37b270;
  border-color: #ccc;
}

.jumbotron.library .btn:hover {
  background-color: #19a259;
}

.jumbotron.plant-type {
  margin-top: 30px;
  margin-bottom: 0;
  background-color: #b5f1d1;
}

.header-wrap {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  background: rgba(0,0,0, .25);
}

.logo {
  margin-top: 11px;
}

.navbar-nav {
  float: right;
  padding: 17px 0;
}

.navbar-nav > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav > li {
  margin: 0 5px;
}

.nav > li > a {
  font-weight: bold;
  text-shadow: 0 0 5px #231f20;
  font-size: 17px;
  color: #81deac;
  border-radius: 4px;
  padding: 5px 10px;
}

.nav > li > a:hover {
    color: #fff;
    background-color: #81deac;
    border-color: #4cae4c;
}

.nav > li > a.btn {
  border: none;
}

.nav > li > a.btn-success{
  color:#fff;
  background: #37b270;
  text-shadow:none;
}
.nav > li > a.btn-success .fa{
  padding-left: 10px;
}

.nav > li > a.btn-success:hover{
  background: #81deac;
}

.banner-wrap .h1 {
  margin-top: 180px;
  margin-bottom: 35px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

.banner-wrap .btn {
  display: block;
  max-width: 224px;
  width: 100%;
  margin: 0 auto;
  background: #81deac;
  color: #fff;
  border: none;
  box-shadow: 0 0 5px #333;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #333;
  padding: 9px 23px;
}

.banner-wrap .btn:hover{
  background: #37b270;
}

.store-wrap h1 {
  margin-top: 0;
}

.store-link {
  width: 100%;
}

.store-link .fa{
  padding-left: 5px;
}

.btn.store-link {
  margin-top: 54px;
  color: #fff;
  background:#37b270; 
}

.btn.store-link:hover {
  background: #19a259;
}

/* Gardening Tips Library Page */
.library-gardening .read-more {
  display: block;
} 

.library-gardening .media-left a {
  display: block;
  height: 64px;
  width: 64px;
}

.library-gardening img.media-object {
  width: 64px;
  height: 64px;
}
/* Plant Library Page */
.plant-type figure {
  position: relative;
  margin-bottom: 15px;
}

.plant-type figcaption.h4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  background: rgba(0,0,0, .5);
}

.plant-type a:hover figcaption {
  background: rgba(0,0,0, .6);
}
.plant-type .carousel-control{
  width: 7%;
}
.plant-type .carousel-control.left,
.plant-type .carousel-control.right {
  background-image: none;
}

/* Garden Gallery Page*/
.gallery-wrap [class*=' col-'] {
  margin: 0;
  padding: 0;
}
.gallery-wrap img {
 /*border: 4px solid #111; */
}

.gallery-wrap p.h1 {
  position: relative;
  top: 258px;
  z-index: 10;
  display: block;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,.5);
  padding: 10px;
  max-width: 486px;
  margin: 0 auto;
}

/* Store Page */
.options-form p {
  margin: 0;
  text-align: center;
}

.options-form .form-group.quantity{
  max-width: 125px;
  margin: 0 auto;
}

.options-form .item-name {
  font-weight: bold;
}

/*Checkout form */
.checkout-form .credit-info {
  margin-top: 15px;
}
.checkout-form button.btn-success {
  width: 100%;
}

/* Order Summary in Checkout Form */
.checkout-form .order-container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form .summary-header {
  margin-top: 10px;
  font-weight: bold;
}

.checkout-form ul {
  margin: 0 18px 10px;
  padding: 10px 14px;
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkout-form .order-container button {
  display: block;
  max-width: 71px;
  margin: 0 auto 10px;
}

.footer-wrap .row{
  margin-top: 50px;
  margin-bottom: 30px;
}